$white: #f7f7f7
$black: #484848
$gray: #bbbbbb  
$green: #089c08
$purple: #663399

body
    color: $black
    background-color: $white

html,
body,
body > #___gatsby,
body > #___gatsby > div
    height: 100%

input
    background-color: $white
    color: $black
    border: 0px
    border-bottom: 1px solid $gray
    padding: 2px
    font-size: 1.5rem
    width: 100%

a
    color: $purple
    transition: 0.3s all
    &:hover
        color: $gray
        text-decoration: none
    &:active
        color: $green
        text-decoration: none

#pageGrid
    position: relative
    min-height: 100%
    #header
        background: $purple
        margin-bottom: 1.45rem
        height: 96px
        > div
            margin: 0 auto
            max-width: 960px
            padding: 1.45rem 1.0875rem
    #content
        margin: 0 auto
        width: 100%
        max-width: 1200px
        display: flex
        flex-wrap: wrap
        padding: 0px 25px 150px 25px
        form.content-item
            width: 100%
            max-width: 250px
            margin-right: 70px
        .content-item
            flex: 1
        #userInput
            width: 300px
            margin: 0 auto
            label
                display: block
                width: 100%
                font-size: 0.75rem
                margin-bottom: 25px
                .text
                    margin-left: 5px
                    line-height: 15px
                input
                    text-align: center
                    &::before
                        content: "$"
            #apr_compound
                display: flex
                .switchWrapper
                    flex: 1
                    text-align: center
                .compoundDaily
                    .text
                        text-align: right
            #submit
                width: 100%
                color: $white
                background-color: $green
                border: 0
                border-radius: 5px
                cursor: pointer
                box-shadow: 3px 3px 2px $gray
                transition: all 0.2s
                &:hover
                    background-color: darken($green, 3%)
                    box-shadow: 1px 1px 1px darken($gray, 3%)
                    transform: translate(1px, 1px)
                &:active
                    background-color: darken($green, 7%)
                    box-shadow: 0px 0px 0px darken($gray, 3%)
                    transform: translate(2px, 2px)
        #information_chart
            max-height: 500px
        #information_table
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            div
                display: flex
                flex-direction: column
            .interestSaved
                margin-bottom: 50px
            .info-large
                text-align: center
                font-size: 3rem
                line-height: 3rem
            .info-small
                text-align: center
            .info-extra
                line-height: 9px
                text-align: center
                font-size: 0.6rem
                color: lighten($black, 10%)
    #footer
        position: absolute
        bottom: 0
        left: 0
        width: 100%
        height: 150px
        text-align: center
        padding: 10px 0
        #footer-content
            position: absolute
            bottom: 5px
            left: 0
            width: 100%
            .disclaimer
                font-size: 0.75rem
                color: $gray
                &::before,
                &::after
                    content: '**'


@media only screen and (max-width: 1005px)
    #information_table
        .info-large
            font-size: 3rem
        .info-small
            font-size: 1rem

@media only screen and (max-width: 900px)
    #pageGrid
        #content
            form.content-item
                margin: auto
                flex: 1
                max-width: 40%
            #information_table
                max-height: 500px
            #information_chart
                margin-top: 50px
                width: 100%
                flex: none

@media only screen and (max-width: 710px)
    #pageGrid
        #content
            form.content-item
                max-width: 400px
                margin: auto
                flex: 1
            #information_chart
            #information_table
                max-height: 500px
                margin-top: 50px
                width: 100%
                flex: none
                .info-large
                    font-size: 3rem
                .info-small
                    font-size: 1rem


/* Hide HTML5 Up and Down arrows. */
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button 
    -webkit-appearance: none
    margin: 0

 
input[type="number"] 
    -moz-appearance: textfield
